
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    background-color: lightseagreen;
    color:black;
    padding: 10px;
    text-align: center;
}

main {
    display: flex;
    flex: 1;
}

#users-panel {
    width: 200px;
    background-color: #f4f4f4;
    overflow-y: auto;
}

#users-list {
    list-style: none;
    padding: 10px;
    margin: 0;
}

#users-list li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
}

#users-list li:hover {
    background-color: #eee;
}

#chat-panel {
    flex: 1;
    display: flex;
    flex-direction: column;
}

#create-group {
    background-color: #ddd;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#create-group input,
#create-group select {
    margin-right: 10px;
    padding: 5px;
}

#chat-box {
    flex: 1;
    padding: 10px;
    overflow-y: auto;
}

#message-input {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-top: 1px solid #ddd;
}

#message-input input {
    flex: 1;
    margin-right: 10px;
    padding: 5px;
}

#send-button {
    padding: 8px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

#send-button:hover {
    background-color: #45a049;
}
.message {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
    max-width: 80%;
}
.outgoing {
    background-color: #4CAF50; /* Green for outgoing messages */
    color: #fff;
    /* align-self: flex-end; Align to the right */
    text-align: right;
}
  
.incoming {
    background-color: #ddd; /* Grey for incoming messages */
    color: #000;
    /* align-self: flex-start; Align to the left */
    text-align: left;
}
#chat-container{
    display: none;
}
#group-members{
    display: none;
}
  
.hide-display{
    display: none;
}

#group-details {
    width: 200px;
    background-color: #f4f4f4;
    overflow-y: auto;
}
#admin-rights-add-user{
    display: none;
}

button {
    padding: 8px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}